body::-webkit-scrollbar {
    height: 100%;
    width: 100%;
    display: none;
}

.white0 {
    color: white;
}
.blue0 {
    color: #38bdf8;
}
.black0 {
    color: #171717;
}
.black1 {
    color: #202020;
}
.grey0 {
    color: #3a3a3a;
}
.grey1 {
    color: #afaeae;
}

.logo {
    width: 20%;
}

.navbar {
    padding: 0%;
    box-shadow: 0px 1px 20px 1px rgb(0 0 0 / 48%);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    background-color: #171717;
}

.navbar-collapse {
    align-items: center;
    width: 100%;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
    margin-right: 30%;
}

.nav-item {
    display: flex;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #38bdf8 !important;
}
.no-hover {
    pointer-events: none;
}

.site-banner {
    background-color: #3a3a3a;
    overflow: hidden;
}

.title-content {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.brand-tagline {
    margin-left: 5%;
    margin-top: 2%;
}

.brand-sub-tagline {
    margin-left: 5%;
    margin-top: 5%;
}

.site-banner-button:hover {
    box-shadow: 0px 3px 20px 10px rgb(0 0 0 / 48%);
}

.review_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #202020;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.review-form {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-right: 5%;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
}

.page-footer {
    padding-right: 5%;
}

.submit-btn {
    background-color: #38bdf8 !important;
    color: #171717;
}

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
    justify-content: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
}

.footer-copyright {
    background-color: #171717;
}
